.toolbar {
    background-color: rgb(255, 255, 255);
    height: 120px;
    position: fixed;
    top: 0;
    z-index: 2;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.container a {
    color: #121311;
    text-decoration: none;
}

.container a:hover {
    color: #ffab0f;
}

.container button:hover {
    color: #ffab0f;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 28%;
}

.space {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 10%;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 20%;
}

.social-media button:hover {
    color: #ffab0f;
}

.button-text {
    font-size: 20px;
}

.menu-item {
    font-size: 14px;
    font-weight: bold;
}

.menu-item:hover {
    color: #ffab0f;
}

.iconMenu {
    display: none;
}

.sidenav {
    width: 250px;
    position: fixed;
    top: 120px;
    right: 0;
    height: 100vh;
    z-index: 2;
}

.container-nav {
    padding-top: 15px;
    padding-bottom: 15px;
}

.button-nav {
    display: flex;
    flex-direction: column;
}

.botoes-container-nav {
    font-size: 17px;
}

.botoes-container-nav-exp {
    font-size: 20px;
}

.botoes-container-nav:hover {
    color: #ffab0f;
}

.botoes-container-nav-exp:hover {
    color: #ffab0f;
}

@media (max-width: 1220px) {
    .hiddenDiv {
        display: none;
    }

    .iconMenu {
        display: flex;
    }

    .social-media {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 60%;
    }

    .logo {
        justify-content: flex-start;
        height: auto;
    }
}