<div class="container">
    <mat-card class="card-container">
        <div class="content-container">
            <div class="text-container">
                <h2 class="title">Serviços de Soldas em Tubos e Conexões PEAD</h2>
                <p class="description">
                    A solda por termofusão consiste em aquecer as extremidades dos tubos com uma placa de aquecimento e
                    aplicar uma pressão normalizada. A soldagem por termofusão requer equipamentos mais pesados e com
                    maiores requisitos de potência, bem como soldadores bem treinados, principalmente no que diz
                    respeito às dimensões dos tubos a serem soldados. Somente tubos da mesma espessura podem ser
                    soldados. As soldas são mais usadas em tubos com diâmetros maiores (63-315 mm).
                </p>
                <div class="solda-but-container">
                    <a target="_blank"
                        href="https://api.whatsapp.com/send/?phone=5564992308541&text&type=phone_number&app_absent=0">
                        <button class="botao-contrate" type="button">CONTRATE</button>
                    </a>
                    <div class="photo-gallery">
                        <div class="photo" *ngFor="let photo of photos" (click)="navigateToDetails(photo)">
                            <img src="{{ photo.imageUrl }}" alt="{{ photo.caption }}">
                            <!-- <div class="caption">{{ photo.caption }}</div> -->
                            <div class="info-box" *ngIf="photo.showInfo">
                                {{ photo.info }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-container">
                <img src="assets/images/solda.jpeg" alt="Serviços de Soldas em Tubos e Conexões PEAD" class="image">
            </div>
        </div>
    </mat-card>

    <mat-card class="card-container2">
        <div class="content-container">
            <div class="image-container">
                <img src="assets/images/visita.jpg" alt="Acompanhamento Técnico no seu Projeto de Drenagem/Irrigação"
                    class="image">
            </div>
            <div class="text-container2">
                <h2 class="title">Acompanhamento Técnico no seu Projeto de Drenagem/Irrigação</h2>
                <p class="description2">
                    Um diagnóstico completo para tornar sua propriedade sustentável, produtiva e rentável, como:
                </p>
                <p class="description2">
                    Serviço de Drenagem / Irrigação;
                </p>
                <!-- <p class="description2">
                    Projetos;
                </p> -->
                <p class="description2">
                    Acompanhamento na Obra.
                </p>
                <div class="solda-but-container">
                    <a target="_blank"
                        href="https://api.whatsapp.com/send/?phone=5564992308541&text&type=phone_number&app_absent=0">
                        <button class="botao-contrate2" type="button">CONTRATE</button>
                    </a>
                    <div class="photo-gallery">
                        <div class="photo" *ngFor="let photo of photosAcompanhamento" (click)="navigateToDetails(photo)">
                            <img src="{{ photo.imageUrl }}" alt="{{ photo.caption }}">
                            <!-- <div class="caption">{{ photo.caption }}</div> -->
                            <div class="info-box" *ngIf="photo.showInfo">
                                {{ photo.info }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>

    <!-- <mat-card class="card-container">
        <div class="content-container">
            <div class="text-container">
                <h2 class="title">Serviço de Limpa Fossa</h2>
                <p class="description">
                    Você já ouviu falar em Limpeza de Fossa? Este é um procedimento muito comum, também conhecido como
                    limpeza de fossa séptica, consiste na retirada dos resíduos de dentro da fossa para evitar seu mau
                    funcionamento.
                <p class="description">
                    Limpeza de fossa no entorno de Ipameri-GO.
                </p>
                <a target="_blank"
                    href="https://api.whatsapp.com/send/?phone=5564992683131&text&type=phone_number&app_absent=0">
                    <button class="botao-contrate" type="button">CONTRATE</button>
                </a>
            </div>
            <div class="image-container">
                <img src="assets/images/fossa.jpeg" alt="Serviços de Soldas em Tubos e Conexões PEAD" class="image">
            </div>
        </div>
    </mat-card>

    <mat-card class="card-container2">
        <div class="content-container">
            <div class="image-container">
                <img src="assets/images/munk.jpeg" alt="Acompanhamento Técnico no seu Projeto de Drenagem/Irrigação"
                    class="image">
            </div>
            <div class="text-container2">
                <h2 class="title">Locação de Caminhão Munck</h2>
                <p class="description2">
                    Com caminhão munck e uma equipe de especialistas prontos para te ajudar, a Tucano oferece as
                    melhores soluções para apoiar suas operações do início ao fim!
                </p>
                <a target="_blank"
                    href="https://api.whatsapp.com/send/?phone=5564992683131&text&type=phone_number&app_absent=0">
                    <button class="botao-contrate2" type="button">CONTRATE</button>
                </a>
            </div>
        </div>
    </mat-card>
</div> -->

    <div class="galery-open" *ngIf="imgClick">
        <img src="{{ imgUrl }}">
        <button mat-mini-fab color="warn" (click)="imgClick = false">
            <mat-icon>close</mat-icon>
        </button>
    </div>