<div class="container">
INSTITUCIONAL
</div>
<div class="center">
    <iframe width="800" height="450" src="https://www.youtube.com/embed/WvVJsHOzrII?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen frameborder="0" allowfullscreen uk-responsive uk-video="automute: true"></iframe>
</div>

<div class="text-container radius">
<h2>Valores e princípios</h2>
    <div style="width: 50%; margin: auto;">
        Nossas atividades são orientadas através de princípios e valores humanos, éticos e sustentáveis que garantem a confiabilidade de nossos clientes, colaboradores e fornecedores. 
    </div>
</div>

<div class="text-container row radius">
    <h2>Sustentabilidade</h2>
    <div style="width: 50%; margin: auto;" class="column">
        A Tucano possui um forte compromisso com ações que visam conter a exploração dos recursos naturais e a preservação do Meio Ambiente.        </div>
    <div style="width: 50%; margin: auto;"class="column">
        A Tucano investe também em energia renovável e apoia a cultura e o esporte.
    </div>
</div>
<br/>

<section>
    <div class="example-button-row" style="clear:both;">
        <button mat-raised-button>Basic</button>
    </div>
</section>

<div class="text-container-2 radius">
<h2>Localização</h2>
    <div style="width: 50%; margin: auto; text-align: justify;">
        <p style="margin: 10px;">
            <img src="http://www.tucano.ind.br/site/storage/app/uploads/public/6fa/eba/41c/thumb__500_500_0_0_auto.jpg" alt="Smiley face image" 
        style="float:left; width:242px; height:142px;">
        <span style="vertical-align:bottom">Em atividade desde 2002, a Tucano, está localizada no centro-oeste brasileiro, na região sudeste do Estado de Goiás, no município de Ipameri.</span>
        <br/>
        <br/>
        Estamos no coração do Brasil e compartilhamos com todo o mundo nossos produtos e nossas ações em prol de um futuro melhor para todos.
    </p>    
    </div>
</div>


<div class="text-container radius" style="margin-top: 30px;">
<h1 >Tubos Tucano – O Tubo certo para uma obra perfeita.</h1>
</div>

<div class="text-container row radius">
    <h2>Sustentabilidade</h2>
    <div style="width: 50%; margin: auto;" class="column">
        A marca de tubos que está no Coração do Brasil!
    </div>
    <div style="width: 50%; margin: auto; text-align: left;"class="column">
        ENDEREÇO <br/>
        Rodovia Gustavo Capanema - GO 330 – Km 97,5 - Trevo Sul
        Ipameri – Go CEP 75780-000    
        <br/>
        <br/>
        TELEFONE <br/>
        (64) 3491-5388
    </div>
</div>
<br/>