<div class="container" >
    <div class="css-institucional">
    <div class="text-title"> <h1> INSTITUCIONAL </h1></div>
    </div>
    <div class="css-video text-center">
      <div class="margin-video">
          <iframe width="800" height="450" src="https://www.youtube.com/embed/WvVJsHOzrII?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen frameborder="0" allowfullscreen uk-responsive uk-video="automute: true"></iframe>
      </div>
    </div>
    <div class="css-valores text-center"><h2>Valores e Principios</h2></div>
    <div class="css-desc-valores text-center text-config">
      <p> Nossas atividades são orientadas através de princípios e valores humanos, éticos e sustentáveis que garantem a confiabilidade de nossos clientes, colaboradores e fornecedores. </p>
    </div>
    <div class="css-sustentabilidade text-center"><h2>Sustentabildade</h2></div>
    <div class="css-desc1-sustentabilidade text-config2">
      <div class="text-margin"> A Tucano possui um forte compromisso com ações que visam conter a exploração dos recursos naturais e a preservação do Meio Ambiente. </div> 
    </div>
    <div class="css-desc2-sustentabilidade text-config2">
      <div class="text-margin"> A Tucano investe também em energia renovável e apoia a cultura e o esporte.</div> 
    </div>
    <div class="css-info text-center " ><button type="button">SAIBA MAIS</button></div>
    <div class="css-localizacao-title text-center"><h2> Localização </h2></div>
    
    <div class="css-localizacao-imagem">
      <img src="http://www.tucano.ind.br/site/storage/app/uploads/public/6fa/eba/41c/thumb__500_500_0_0_auto.jpg" alt="Paris">
    </div>	
    
    <div class="css-localizacao-desc">
      <p>Em atividade desde 2002, a Tucano, está localizada no centro-oeste brasileiro, na região sudeste do Estado de Goiás, no município de Ipameri.</p>
      <p> Estamos no coração do Brasil e compartilhamos com todo o mundo nossos produtos e nossas ações em prol de um futuro melhor para todos. </p>
    </div>
    
    <div class="css-phrase text-center"><h1> Tubos Tucano – O Tubo certo para uma obra perfeita. </h1></div>
    
    <div class="css-footer">Footer</div>
  </div>