<div class="container">
  <div class="css-institucional">
    <div class="text-title">
      <h1>INSTITUCIONAL</h1>
    </div>
  </div>
  <div class="css-video text-center">
    <div class="margin-video">
      <iframe width="800" height="450" src="https://www.youtube.com/embed/WvVJsHOzrII?autoplay=1" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen frameborder="0"
        allowfullscreen uk-responsive uk-video="automute: true"></iframe>
    </div>
  </div>
  <div class="css-valores text-center">
    <h2>Valores e princípios</h2>
  </div>
  <div class="css-desc-valores text-center text-config">
    <h3>Nossas atividades são orientadas através de princípios e valores humanos, éticos e sustentáveis que garantem a
      confiabilidade de nossos clientes, colaboradores e fornecedores.</h3>
  </div>
  <div class="css-sustentabilidade text-center">
    <h2>Sustentabilidade</h2>
  </div>
  <div class="css-desc1-sustentabilidade text-config2">
    <img src="assets/images/institucional/leaf.png" alt="Sustentabilidade">
    <div class="text-margin">A Tucano possui um forte compromisso com ações que visam conter a exploração dos recursos
      naturais e a preservação do Meio Ambiente.</div>
  </div>
  <div class="css-desc2-sustentabilidade text-config2">
    <img src="assets/images/institucional/sustainability.png" alt="Sustentabilidade">
    <div class="text-margin">A Tucano investe também em energia renovável e apoia a cultura e o esporte.</div>
  </div>
  <div class="css-info text-center"><button type="button" routerLink="/sustentabilidade" routerLinkActive="active">SAIBA MAIS</button></div>
  <div class="css-localizacao-title text-center">
    <h2> Localização </h2>
  </div>

  <div class="css-localizacao-imagem">
    <img src="assets/images/institucional/thumb__500_500_0_0_auto.jpg" alt="Localização">
  </div>

  <div class="css-localizacao-desc">
    <h2>Em atividade desde 2002, a Tucano, está localizada no centro-oeste brasileiro, na região sudeste do Estado de
      Goiás, no município de Ipameri.</h2>
    <p>Estamos no coração do Brasil e compartilhamos com todo o mundo nossos produtos e nossas ações em prol de um
      futuro melhor para todos.</p>
  </div>
  <!-- <img class="img-inst" src="assets/images/home.jpg" /> -->
</div>