<div class="container-start">
    <div class="css-tc">
        <div class="text-title">
            <h1>CONTATO</h1>
        </div>
    </div>
    <div class="contato">
        <!-- Título e Descrição -->
        <h2>SAC - Serviço de Atendimento ao Consumidor</h2>
        <p>Seja bem-vindo ao Serviço de Atendimento ao Consumidor da Tucano. Queremos fazer o melhor por você.</p>
        <p>Aqui você poderá esclarecer dúvidas sobre nossos produtos, avaliar o atendimento, enviar Currículo,
            solicitar orçamento, sugerir ou reclamar.</p>
        <p><strong>Envie seu Currículo:</strong></p>
        <button mat-stroked-button routerLink="/trabalhe-conosco" routerLinkActive="active">TRABALHE
            CONOSCO</button>
    </div>

    <div class="dp-wrapper">
        <div class="dp-container">
            <h2 class="dp-title">Departamento Comercial</h2>
            <div class="dp-grid">
                <div class="comercial" *ngFor="let vendedor of comercial">
                    <h3><strong>{{ vendedor.nome }}</strong></h3>
                    <a target="_blank" href="{{ vendedor.url }}" matTooltip="Abrir Conversa no WhatsApp">
                        <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="M19.05 4.91A9.816 9.816 0 0 0 12.04 2c-5.46 0-9.91 4.45-9.91 9.91c0 1.75.46 3.45 1.32 4.95L2.05 22l5.25-1.38c1.45.79 3.08 1.21 4.74 1.21c5.46 0 9.91-4.45 9.91-9.91c0-2.65-1.03-5.14-2.9-7.01zm-7.01 15.24c-1.48 0-2.93-.4-4.2-1.15l-.3-.18l-3.12.82l.83-3.04l-.2-.31a8.264 8.264 0 0 1-1.26-4.38c0-4.54 3.7-8.24 8.24-8.24c2.2 0 4.27.86 5.82 2.42a8.183 8.183 0 0 1 2.41 5.83c.02 4.54-3.68 8.23-8.22 8.23zm4.52-6.16c-.25-.12-1.47-.72-1.69-.81c-.23-.08-.39-.12-.56.12c-.17.25-.64.81-.78.97c-.14.17-.29.19-.54.06c-.25-.12-1.05-.39-1.99-1.23c-.74-.66-1.23-1.47-1.38-1.72c-.14-.25-.02-.38.11-.51c.11-.11.25-.29.37-.43s.17-.25.25-.41c.08-.17.04-.31-.02-.43s-.56-1.34-.76-1.84c-.2-.48-.41-.42-.56-.43h-.48c-.17 0-.43.06-.66.31c-.22.25-.86.85-.86 2.07c0 1.22.89 2.4 1.01 2.56c.12.17 1.75 2.67 4.23 3.74c.59.26 1.05.41 1.41.52c.59.19 1.13.16 1.56.1c.48-.07 1.47-.6 1.67-1.18c.21-.58.21-1.07.14-1.18s-.22-.16-.47-.28z" />
                            </svg>{{ vendedor.numero }}</p>
                    </a>
                    <p>{{ vendedor.email }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="vendedores-wrapper">
        <div class="vendedores-container">
            <h2 class="vendedores-title">NOSSOS VENDEDORES</h2>
            <h3>Solicite um orçamento!</h3>
            <div class="vendedores-grid">
                <div class="vendedor" *ngFor="let vendedor of vendedores">
                    <h3><strong>{{ vendedor.nome }}</strong></h3>
                    <a target="_blank" href="{{ vendedor.url }}" matTooltip="Abrir Conversa no WhatsApp">
                        <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                    d="M19.05 4.91A9.816 9.816 0 0 0 12.04 2c-5.46 0-9.91 4.45-9.91 9.91c0 1.75.46 3.45 1.32 4.95L2.05 22l5.25-1.38c1.45.79 3.08 1.21 4.74 1.21c5.46 0 9.91-4.45 9.91-9.91c0-2.65-1.03-5.14-2.9-7.01zm-7.01 15.24c-1.48 0-2.93-.4-4.2-1.15l-.3-.18l-3.12.82l.83-3.04l-.2-.31a8.264 8.264 0 0 1-1.26-4.38c0-4.54 3.7-8.24 8.24-8.24c2.2 0 4.27.86 5.82 2.42a8.183 8.183 0 0 1 2.41 5.83c.02 4.54-3.68 8.23-8.22 8.23zm4.52-6.16c-.25-.12-1.47-.72-1.69-.81c-.23-.08-.39-.12-.56.12c-.17.25-.64.81-.78.97c-.14.17-.29.19-.54.06c-.25-.12-1.05-.39-1.99-1.23c-.74-.66-1.23-1.47-1.38-1.72c-.14-.25-.02-.38.11-.51c.11-.11.25-.29.37-.43s.17-.25.25-.41c.08-.17.04-.31-.02-.43s-.56-1.34-.76-1.84c-.2-.48-.41-.42-.56-.43h-.48c-.17 0-.43.06-.66.31c-.22.25-.86.85-.86 2.07c0 1.22.89 2.4 1.01 2.56c.12.17 1.75 2.67 4.23 3.74c.59.26 1.05.41 1.41.52c.59.19 1.13.16 1.56.1c.48-.07 1.47-.6 1.67-1.18c.21-.58.21-1.07.14-1.18s-.22-.16-.47-.28z" />
                            </svg>{{ vendedor.numero }}</p>
                    </a>
                    <p>{{ vendedor.email }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="form-container">
        <mat-card class="form-card">
            <h2>Formulário de Contato</h2>
            <form>
                <mat-form-field appearance="outline">
                    <mat-label>Nome</mat-label>
                    <input matInput placeholder="Seu Nome" [formControl]="nome" required>
                    <mat-error *ngIf="nome.invalid && nome.touched">{{getErrorMessage(nome)}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>E-mail</mat-label>
                    <input matInput placeholder="email@exemplo.com" [formControl]="email" required>
                    <mat-error *ngIf="email.invalid && email.touched">{{getErrorMessage(email)}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Selecione um assunto</mat-label>
                    <mat-select [formControl]="assunto" required>
                        <mat-option value="Solicitação de Atendimento">Solicitação de Atendimento</mat-option>
                        <mat-option value="Serviço">Serviço</mat-option>
                        <mat-option value="Sugestão">Sugestão</mat-option>
                        <mat-option value="Reclamação">Reclamação</mat-option>
                        <mat-option value="Outros">Outros</mat-option>
                    </mat-select>
                    <mat-hint align="end">Aqui está a seta suspensa ^</mat-hint>
                    <mat-error *ngIf="assunto.invalid && assunto.touched">{{getErrorMessage(assunto)}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Mensagem</mat-label>
                    <textarea matInput placeholder="Digite aqui sua mensagem" rows="5" [formControl]="mensagem"
                        required></textarea>
                    <mat-error *ngIf="mensagem.invalid && mensagem.touched">{{getErrorMessage(mensagem)}}</mat-error>
                </mat-form-field>
                <re-captcha class="recaptcha" (resolved)="onCaptchaResolved($event)"></re-captcha>
                <mat-error *ngIf="recaptchaError">Você deve verificar o reCAPTCHA</mat-error>
                <button class="botao-enviar" type="button" (click)="enviarMensagem()">ENVIAR MENSAGEM</button>
            </form>
        </mat-card>
    </div>

    <div class="css-localizacao-container">
        <div class="css-localizacao-title">
            <h2>Localização</h2>
        </div>
        <div class="css-localizacao-content">
            <div class="css-localizacao-imagem">
                <img src="assets/images/institucional/thumb-loc.png" alt="Localização">
            </div>
            <div class="css-localizacao-desc">
                <h2>Em atividade desde 2002, a Tucano, está localizada no centro-oeste brasileiro, na região sudeste do
                    Estado de Goiás, no município de Ipameri.</h2>
                <p>Estamos no coração do Brasil e compartilhamos com todo o mundo nossos produtos e nossas ações em prol
                    de um futuro melhor para todos.</p>
            </div>
        </div>
    </div>

    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12781.09915676455!2d-48.168217108024926!3d-17.752011063155184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94a705d5bb90d309%3A0x88a0ccced416b94e!2sTubos+Tucano!5e0!3m2!1spt-BR!2sbr!4v1527185329498"
        width="100%" height="250"></iframe>

</div>