<div class="product-container">
    <div class="product-info">
        <div class="info-content">
            <h2>TUCANO <strong>LISO</strong></h2>
            <p>Tubo Liso Flexível produzido em Polietileno de Alta Densidade PE 100.</p>
            <p><strong>No formato LISO, é produzido com matéria prima PEMD e PEAD.</strong></p>
        </div>
    </div>
    <div class="product-image">
        <img src="assets/images/liso-produto.png" alt="Imagem do Produto">
    </div>
</div>

<div class="product-details">
    <h3>TUCANOLISO®</h3>
    <div class="detail">
        <h4>Como e onde são utilizados?</h4>
        <p>A infraestrutura essencial abrange áreas como abastecimento de água, saneamento, irrigação, gestão de
            resíduos industriais e mineração. Inclui redes de distribuição de água, transporte de esgoto, sistemas de
            irrigação eficientes, manutenção de tubulações e gerenciamento de chorume em aterros sanitários.</p>
    </div>
    <!-- <div class="detail">
        <h4>Liso Perfurado</h4>
        <p>Os tubos lisos desempenham um papel fundamental na gestão eficaz de resíduos em aterros sanitários.
            Fabricados com materiais duráveis e resistentes à corrosão, esses tubos são projetados para garantir o fluxo
            eficiente de líquidos lixiviados e gases no interior do aterro.</p>
        <p>Esses componentes essenciais proporcionam uma solução de drenagem confiável, minimizando o risco de
            contaminação ambiental. Seu design liso e resistente à obstrução ajuda a manter a integridade do aterro
            sanitário e a preservar o meio ambiente.</p>
        <p>Os tubos lisos são uma escolha sólida para a gestão responsável de resíduos, contribuindo para um processo de
            aterramento mais eficiente e sustentável.</p>
    </div> -->
</div>

<div class="opcoes-container">
    <h3>Opções do Tubo</h3>
    <div class="opcoes">
        <div class="opcoes-card" *ngFor="let opcao of opcoes">
            <mat-card>
                <!-- <img src="{{ accessory.imageUrl }}" alt="{{ accessory.title }}"> -->
                <mat-card-content class="opcoes-content">
                    <h4><strong>{{ opcao.title }}</strong></h4>
                    <p>{{ opcao.description }}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

<div class="photo-gallery">
    <div class="photo" *ngFor="let photo of photos">
        <img src="{{ photo.imageUrl }}" alt="{{ photo.caption }}" (click)="navigateToDetails(photo)">
        <div class="caption">{{ photo.caption }}</div>
        <div class="info-box" *ngIf="photo.showInfo">
            {{ photo.info }}
        </div>
    </div>
</div>

<div class="accessories">
    <h3>Acessórios para o Tubo</h3>
    <h5>Além da linha TUCANOLISO® a Tucano disponibiliza acessórios que complementam seus
        produtos e tornam sua obra
        mais segura e perfeita.</h5>
    <div class="accessory-card" *ngFor="let accessory of accessories" (click)="redirectToProduct(accessory.id)">
        <mat-card>
            <img src="{{ accessory.imageUrl }}" alt="{{ accessory.title }}">
            <mat-card-content class="accessory-content">
                <h4><strong>{{ accessory.title }}</strong></h4>
                <p>{{ accessory.description }}</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div class="full-width-container">
    <div class="content-container">
        <div class="left-content">
            <img src="assets/images/cat.png" alt="Imagem do Produto">
        </div>
        <div class="right-content">
            <h2>INFORMAÇÕES TÉCNICAS</h2>
            <p>Você pode baixar as informações técnicas da <STRONG>linha TUCANOLISO® e seus acessórios</STRONG>, e
                tambem
                solicitar a ficha
                técnica de todos os nossos produtos com um de nossos vendedores!</p>
            <div class="button-container">
                <button class="download-button-info" (click)="downloadPDF()">BAIXAR INFORMAÇÕES TÉCNICAS</button>
                <button class="download-button-ficha" routerLink="/contato" routerLinkActive="active">SOLICITAR FICHA
                    TÉCNICA</button>
            </div>
        </div>
    </div>
</div>