<div class="product-container">
    <div class="product-info">
        <div class="info-content">
            <h2>MANILHA <strong>PEAD</strong></h2>
            <p>Tubos para Drenagem do Solo produzidos em Polietileno de Alta Densidade (PEAD).</p>
            <p><strong>Disponível no formato ANELAR (AN) é produzido com matéria prima ecologicamente correta (ECCO) e
                    normatizada (NBR).</strong></p>
            <p><strong>Corrugado e Flexível possui resistência às intempéries causadas no solo por produtos químicos,
                    não tem emendas e seus raios de curvatura possibilitam maiores percentuais de declínios ou
                    envergadura.</strong></p>
            <p><strong>Devido sua estrutura corrugada tem baixo coeficiente de atrito, o que elimina os perigos de
                    rachadura e quebra de suas paredes depois de instalados.</strong></p>
        </div>
    </div>
    <div class="product-image">
        <img src="assets/images/slide4.JPG" alt="Imagem do Produto">
    </div>
</div>

<div class="product-details">
    <h3>TUCANODUTO®</h3>
    <div class="detail">
        <h4>Como e onde são utilizados?</h4>
        <p>Com mecanismo moderno e alta capacidade de captação de líquido através de aberturas (orifícios) em sua
            superfície, os TUBOS TUCANODRENO® estão em conformidade com a normativa 093/2006 do DNIT e são utilizados na
            drenagem de lavouras, campos esportivos, áreas verdes, rodovias, ferrovias, aeroportos, aterros sanitários,
            subsolos, parques e jardins, em obras residenciais (evitando a umidade em paredes), em obras de barragens e
            diques, obras de contenção e valas de absorção e dispersão de fluentes de esgoto.</p>
    </div>
    <!-- <div class="detail">
      <h4>Detalhe 2</h4>
      <p>Descrição do Detalhe 2</p>
    </div> -->
</div>

<div class="opcoes">
    <h3>Opções do Tubo</h3>
    <div class="opcoes-card" *ngFor="let opcao of opcoes">
        <mat-card>
            <!-- <img src="{{ accessory.imageUrl }}" alt="{{ accessory.title }}"> -->
            <mat-card-content>
                <h4><strong>{{ opcao.title }}</strong></h4>
                <p>{{ opcao.description }}</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div class="accessories">
    <h3>Acessórios para o Tubo</h3>
    <h5>Além da linha TUCANODRENO® a Tucano disponibiliza em sua linha de drenagem, acessórios que complementam seus
        produtos e tornam sua obra
        mais segura e perfeita.</h5>
    <div class="accessory-card" *ngFor="let accessory of accessories">
        <mat-card>
            <img src="{{ accessory.imageUrl }}" alt="{{ accessory.title }}">
            <mat-card-content>
                <h4><strong>{{ accessory.title }}</strong></h4>
                <p>{{ accessory.description }}</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div class="full-width-container">
    <div class="content-container">
        <div class="left-content">
            <img src="assets/images/cat.png" alt="Imagem do Produto">
        </div>
        <div class="right-content">
            <h2>INFORMAÇÕES TÉCNICAS</h2>
            <p>Você pode baixar as informações técnicas da <STRONG>linha TUCANODRENO® e seus acessórios</STRONG>, e
                tambem
                solicitar a ficha
                técnica de todos os nossos produtos com um de nossos vendedores!</p>
            <div class="button-container">
                <button class="download-button-info" (click)="downloadPDF()">BAIXAR INFORMAÇÕES TÉCNICAS</button>
                <button class="download-button-ficha" routerLink="/contato" routerLinkActive="active">SOLICITAR FICHA
                    TÉCNICA</button>
            </div>
        </div>
    </div>
</div>