.container-start {
    margin-top: 120px;
}

.css-vendas {
    color: white;
    background-color: #333;
    height: 82px;
}

.text-title {
    margin-left: 270px;
    padding-top: 28px;
}

.text-title h1 {
    font-size: 30px;
}

.container {
    display: flex;
}

.mapa {
    width: 50%;
    padding: 20px;
}

.mapa p {
    margin-left: 290px;
    margin-top: 20px;
}

.central-atendimento {
    width: 50%;
    padding: 20px;
    background-color: #f0f0f0;
}

.central-atendimento h2 {
    font-size: 24px;
}

.central-atendimento p {
    font-size: 16px;
    width: 600px;
}

.departamento h2 {
    font-size: 22px;
    margin-top: 26px;
}

.departamento h3 {
    font-size: 22px;
    margin-bottom: 26px;
}

// .vendedores h3 {
//     margin-top: 20px;
// }

.vendedores p {
    margin-top: -10px;
}

.vendedores h4 {
    margin-top: -10px;
    font-size: 16px;
    margin-bottom: 22px;
}

.atendimento p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
}

.atendimento button {
	background-color: #333;
	color: white;
	border: none;
	padding: 12px 24px;
	cursor: pointer;
	font-size: 14px;
	transition: background-color 0.3s, color 0.3s;
    margin-bottom: 20px;
}

.atendimento button:hover {
	background-color: #ffab0f;
	color: white;
}

.vendedores {
  display: flex;
  flex-direction: column; /* Exibe os vendedores em uma única coluna por padrão */
}

.vendedores > div {
//   padding: 10px; /* Espaçamento entre os vendedores */
  box-sizing: border-box;
}

.multiple-columns {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Define a largura das colunas */
  gap: 10px; /* Espaçamento entre as colunas e linhas */
  max-width: 750px;
  overflow-x: hidden;
//   grid-column-gap: 0px; /* Espaçamento menor entre as colunas */
}

.multiple-columns h4 {
    margin-bottom: 12px;
}

.vendedores a {
    text-decoration: none;
    color: #ff661f;
  }
  
  .vendedores a :hover {
    color: #ffab0f;
    font-weight: bold;
  }

  .departamento a {
    text-decoration: none;
    color: #ff661f;
  }
  
//   .departamento a :hover {
//     color: #ffab0f;
//     font-weight: bold;
//   }

#map {
    display: none;
}

#map .state {
    cursor: pointer;
}

#map .state .shape {
    cursor: pointer;
    -width: 0;
    fill: #0f7058;

}

#map .state .label_icon_state {
    fill: #fff;
    font-family: Arial;
    font-size: 11px;
    line-height: 12px;
    font-weight: normal;
}

#map .state .label_state {
    display: none;
    font-family: Arial;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
}

#map .state:hover .label_state,
#map .state.hover .label_state {
    display: block;
}

#map .model-green .state .shape {
    transition: fill 0.3s ease-in-out; /* Transição suave da cor */
    fill: #ffab0f;
}

#map .model-green .state.selected .shape {
    fill: #000;
}

#map .model-green .state .icon_state {
    fill: #ff661f;
}

#map .model-green .state .label_icon_state {
    fill: #fff;
}

#map .model-green .state .label_state {
    fill: #666;
}

#map .model-green .state:hover .shape,
#map .model-green .state.hover .shape {
    fill: #333;
}

#map .model-green .state:hover .icon_state,
#map .model-green .state.hover .icon_state {
    fill: #000;
}