<div class="container">
    <mat-card class="card-container">
        <div class="content-container">
            <div class="text-container">
                <h2 class="title">Responsabilidade Social & Sustentabilidade</h2>
                <p class="description">
                    A empresa TUBOS TUCANO investe em projetos sociais que além de incentivar a prática da reciclagem e
                    a preservação contínua do meio ambiente através de ações educativas e sustentáveis, visam promover o
                    bem-estar social da comunidade em geral.
                </p>
            </div>
            <div class="image-container">
                <img src="assets/images/institucional/sustentabilidade/thumb__500_500_0_0_auto.jpg"
                    alt="Juntos contra a dengue" class="image">
            </div>
        </div>
    </mat-card>

    <div class="full-width-image">
        <img src="assets/images/institucional/sustentabilidade/dengue-movel.jpg" alt="Dengue movel" class="full-width">
    </div>

    <mat-card class="card-container">
        <div class="content-container">
            <div class="text-container">
                <h2 class="title">Dengue Móvel</h2>
                <p class="description">
                    Todos os anos, a TUCANO em parceria com empresas de reciclagem e órgãos municipais de Ipameri,
                    promovem o Projeto “Dengue Móvel nos Bairros”, que incentiva a troca de materiais recicláveis por
                    materiais escolares e tem como principal objetivo combater o mosquito Aedes Aegypti, a TUCANO,
                    oferece os materiais escolares em troca dos materiais recicláveis enquanto a administração municipal
                    disponibiliza a estrutura física e pessoal.
                </p>
            </div>
            <div class="image-container">
                <img src="assets/images/institucional/sustentabilidade/thumb__500_500_0_0_auto.jpg" alt="Imagem"
                    class="image">
            </div>
        </div>
    </mat-card>
</div>