.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: #f0f0f0;
  }
  
  .form-card {
    width: 600px;
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
  }
  
  .file-input {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .mat-form-field {
    width: 100%;
    margin-bottom: 10px; /* Adicione o espaço desejado */
  }
  
  .file-input-element {
    margin-top: 10px;
  }
  
  .selected-file-name {
    color: #555;
    margin-top: 5px;
    font-size: 12px;
  }
  
  /* Estilo para o rótulo do botão de enviar arquivo */
  .file-input-label {
    background-color: #ffab0f;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
  }
  
  .file-input-label:hover {
    background-color: #ff661f;
  }
  
  /* Esconder o input do tipo "file" */
  .file-input-element {
    display: none;
  }

  .mat-form-field-file-label{
    margin-top: -20px;
    margin-bottom: 20px;
  }

  .botao-enviar {
    margin-top: 20px;
    background-color: #333;
    color: white;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
      margin-bottom: 20px;
  }
  
  .botao-enviar:hover {
    background-color: #ffab0f;
    color: white;
  }

  .container-start {
    margin-top: 120px;
}

.css-tc {
    color: white;
    background-color: #333;
    height: 82px;
}

.text-title {
    margin-left: 14.5%;
    padding-top: 28px;
}

.text-title h1 {
    font-size: 30px;
}
