<div class="form-container">
    <mat-card class="form-card">
        <h2>Formulário Trabalhe Conosco</h2>
        <form [formGroup]="trabalheConoscoForm">
            <mat-form-field>
                <input matInput formControlName="nome" placeholder="Nome" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="email" type="email" placeholder="Email" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput formControlName="assunto" placeholder="Assunto" required>
            </mat-form-field>
            <mat-form-field>
                <textarea matInput formControlName="mensagem" placeholder="Mensagem" rows="5" required></textarea>
            </mat-form-field>
            <div class="file-input">
                <mat-label class="mat-form-field-file-label">Anexar Arquivo</mat-label>
                <label for="fileInput" class="file-input-label">Selecionar Arquivo</label>
                <input id="fileInput" type="file" (change)="onFileSelected($event)" accept=".pdf,.doc,.docx,.jpg,.png"
                    class="file-input-element">
                <span class="selected-file-name">{{ selectedFile ? selectedFile.name : 'Nenhum arquivo selecionado'
                    }}</span>
            </div>
            <button mat-raised-button color="primary" (click)="enviarMensagem()">Enviar Mensagem</button>
        </form>
    </mat-card>
</div>