/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #edf1f0;}

.fill-remaining-space{
    flex: 1 1 auto;
}

/* Estilos para mensagem de sucesso */
.success-snackbar {
    background-color: #4caf50; /* Cor de fundo */
    color: white; /* Cor do texto */
  }
  
  /* Estilos para mensagem de erro */
  .error-snackbar {
    background-color: #f44336; /* Cor de fundo */
    color: white; /* Cor do texto */
  }
  