.controls {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prev-arrow,
.next-arrow {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  border: none;
  outline: none;
}

.next-arrow {
  left: auto;
  right: 0;
}

.slide-container {
  position: relative;
  width: 1903px; /* Defina a largura do slide conforme necessário */
  height: 550px; /* Defina a altura do slide conforme necessário */
  overflow: hidden;
  max-width: 100%;
  margin-top: 120px;
}

.slide-item {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s;
}

.slide-item.active {
  opacity: 1;
  pointer-events: auto;
}

.slide-item img {
  width: 100%;
  height: 100%;
  display: block;
  transition: transform 0.5s; /* Transição suave de escala (zoom) */
  object-fit: cover;
}

.slide-content {
  position: absolute;
  bottom: 210px; /* Ajuste para a distância em relação à parte inferior da imagem */
  left: 26.5%;
  transform: translateX(-50%);
  //background-color: rgba(0, 0, 0, 0.2);
  color: white;
  text-align: left;
  padding: 10px;
  max-width: 15%; /* Defina uma largura máxima para o texto */
  opacity: 0; /* Esconda o texto inicialmente */
  transition: opacity 0.5s; /* Transição suave da opacidade do texto */
}

.slide-item.active .slide-content {
  opacity: 1; /* Mostre o texto quando o slide está ativo */
}

.slide-content h2 {
  font-size: 34px;
  transition: transform 0.5s; /* Transição suave de escala (zoom) para o título */
}

.slide-content p {
  padding-top: 20px;
  font-size: 20px;
  transition: transform 0.5s; /* Transição suave de escala (zoom) para a descrição */
}

.slide-content button {
  padding: 10px 20px;
  background-color: #ffab0f;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  transition: transform 0.5s; /* Transição suave de escala (zoom) para o botão */
}

.slide-content button:hover {
  background-color: #ff661f;
}

.new-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 6px 12px;
  background-color: #00ff00;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px;
  z-index: 0; /* Garanta que o texto fique acima das imagens */
  animation: blinkingBadge 1s infinite; /* Adicione a animação */
}

/* Animação para piscar o texto */
@keyframes blinkingBadge {

  0%,
  49.9%,
  100% {
    opacity: 0;
  }

  50%,
  99.9% {
    opacity: 1;
  }
}

.slide-item.active .slide-content h2,
.slide-item.active .slide-content p,
.slide-item.active .slide-content button {
  transform: scale(1); /* Aplique escala 1 para mostrar o título, descrição e botão */
}

.slide-item .slide-content h2,
.slide-item .slide-content p,
.slide-item .slide-content button {
  transform: scale(0.8); /* Aplique escala 0.8 para esconder o título, descrição e botão */
}

/* Estilo para o bloco de vendedores */
.vendedores-wrapper {
  position: absolute;
  bottom: 120px; /* Ajuste a posição vertical conforme necessário */
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  padding: 20px;
  z-index: 1; /* Coloque o bloco de vendedores acima do retângulo */
  width: 80%; /* Ajuste a largura do bloco de vendedores conforme necessário */
  max-width: 900px;/* Ajuste a largura máxima conforme necessário */
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2); /* Adicione a sombra ao bloco */
  text-align: center; /* Centralize o texto dentro do bloco */
}

.vendedores-container {
  max-width: 100%;
  margin: 0 auto;
}

.vendedores-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.vendedores-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.vendedor {
  width: 25%; /* Ajuste a largura dos detalhes dos vendedores conforme necessário */
  margin-bottom: 10px;
  text-align: center;
}

/* Tamanho de fonte para o nome dos vendedores */
.vendedor h3 {
  font-size: 22px;
}

.vendedor p {
  margin: 12px 0;
  font-size: 16px;
}

.vendedor a {
  text-decoration: none;
  color: black;
}

.vendedor a :hover {
  color: #ffab0f;
  font-weight: bold;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 250px;
  max-width: 900px; /* Ajuste a largura máxima conforme necessário */
  text-align: center; /* Centralize o texto dentro do bloco */
}

.logo h2 {
  padding-top: 20px;
  font-size: 24px;
}

.logo h3 {
  font-size: 22px;
}

.img-home {
  padding-top: 680px;
  height: 300px; 
  width: 100%
}

.localizacao {
  position: absolute;
  width: 800px;
  left: 50%;
  transform: translateX(-50%);
  padding: 50px;
  max-width: 900px; /* Ajuste a largura máxima conforme necessário */
  text-align: center; /* Centralize o texto dentro do bloco */
}

.localizacao h2 {
  padding-top: 20px;
  font-size: 24px;
}

.localizacao h3 {
  font-size: 22px;
}

.localizacao h4 {
  font-size: 16px;
}

.produtos-container {
  padding: 40px;
  text-align: center;
  padding-top: 370px;
  width: 900px; /* Defina a largura desejada */
  margin: 0 auto; /* Centralize o container horizontalmente */
  overflow: hidden; /* Certifique-se de que o overflow é oculto para evitar problemas de layout */
}

.product-carousel {
  overflow: hidden;
  margin-top: 20px;
}

.carousel-wrapper {
  overflow: hidden;
}

.carousel {
  margin: 30px;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.produto-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  width: 350px;
  margin-right: 16px;
  flex-shrink: 0;
}

.produto-card:last-child {
  margin-right: 100px;
}

.produto-card:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  transform: scale(1.05); /* Efeito de escala no hover */
}

.produto-card img {
  max-width: 100%;
  height: auto;
  // width: 200px; /* Defina a largura desejada */
  // height: 200px; /* Defina a altura desejada */
  // object-fit: cover; /* Isso ajuda a manter a proporção correta, cortando o excesso */
  border-radius: 4px;
  margin-bottom: 10px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: calc(50% - 5px);
}

.info span {
  font-weight: bold;
}

.carousel-navigation {
  text-align: center;
 
}

.prev-button,
.next-button {
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.prev-button {
  margin-right: 20px;
}

.active {
  font-weight: bold;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
  margin-top: 10px;
}

h4 {
  margin-top: 25px;
  font-size: 14px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}

.servicos-container {
  // padding: 40px;
  text-align: center;
  // padding-top: 370px;
  width: 900px; /* Defina a largura desejada */
  margin: 0 auto; /* Centralize o container horizontalmente */
  overflow: hidden; /* Certifique-se de que o overflow é oculto para evitar problemas de layout */
}

.materia-prima {
  // margin-top: 1050px;
  // position: absolute;
  // left: 50%;
  // transform: translateX(-50%);
  padding: 50px;
  width: 900px; 
  text-align: center; /* Centralize o texto dentro do bloco */
  margin: 0 auto;
}

.materia-prima h2 {
  padding-top: 20px;
  font-size: 24px;
}

.materia-prima h3 {
  font-size: 22px;
}

.materia-prima h4 {
  font-size: 16px;
}

/* Estilo para o banner */
.banner {
  // margin-top: 1700px;
  height: 6cm;
  background-color: #ff661f;
  width: 100%;
  display: flex;
  justify-content: space-between; /* Alinha o conteúdo à esquerda e à direita */
}

.banner-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1200px; /* Defina a largura máxima do conteúdo */
  margin: 0 auto; /* Centraliza horizontalmente */
}

.text {
  flex-grow: 1; /* Expande o espaço disponível para o texto */
  width: 700px;
}

.banner h2 {
  color: white;
  font-size: 24px;
  margin: 0;
}

.banner p {
  color: white;
  font-size: 16px;
  margin: 10px 0;
}

.btn {
  background-color: white;
  color: #ff661f;
  border: none;
  padding: 16px 24px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
  margin-left: 250px; /* Espaço entre o texto e o botão */
}

.btn:hover {
  background-color: #ffab0f;
  color: white;
}

.two-column-list {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px;
}

.column ul {
  list-style: none;
  padding: 0;
}

.column h3 {
  font-size: 16px;
  font-weight: bold;
}

.photo-gallery {
  margin-top: 5px; /* Espaço acima da div */
  margin-bottom: 60px; /* Espaço abaixo da div */
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centralize as fotos horizontalmente */
  align-items: center; /* Centralize as fotos verticalmente */
  gap: 10px;
}

.photo {
  position: relative;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 350px; /* Defina a largura desejada para todas as fotos */
  height: 250px; /* Defina a altura desejada para todas as fotos */
  margin: 10px; /* Espaçamento entre as fotos */
  
}

.photo img {
  max-width: 100%;
  max-height: 100%;
  width: 100%; /* Garante que a imagem preencha o contêiner */
  height: 100%; /* Garante que a imagem preencha o contêiner */
  object-fit: cover; /* Mantém a proporção e corta as imagens para caber no contêiner */
}

.caption {
  font-weight: bold;
  text-align: center;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  height: 30px;
  display: flex; /* Transformamos o elemento em um flex container */
  align-items: center; /* Centraliza verticalmente o conteúdo */
  justify-content: center; /* Centraliza horizontalmente o conteúdo */
}  

.info-box {
  position: absolute;
  bottom: -20%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  text-align: center;
  transition: bottom 0.3s;
  opacity: 0; /* Inicialmente, as informações são invisíveis */
}

.photo:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.photo:hover .info-box {
  bottom: 0;
  opacity: 1; /* Torna as informações visíveis quando o mouse está sobre a foto */
}

.photo:active {
  transform: scale(1);
  box-shadow: none;
}