<div class="slide-container">
  <div class="slide-item" *ngFor="let image of images; let i = index" [ngClass]="{ 'active': i === currentImageIndex }">
    <div *ngIf="i === 0" class="new-badge">NOVIDADE</div>
    <img [src]="image.src" [alt]="image.alt" />
    <div class="slide-content">
      <h2>{{ image.title }}</h2>
      <p>{{ image.description }}</p>
      <button (click)="onButtonClick(image.buttonAction)">{{ image.buttonText }}</button>
    </div>
  </div>
  <div class="controls">
    <div class="prev-arrow" (click)="prevImage()"><i class="material-icons">chevron_left</i></div>
    <div class="next-arrow" (click)="nextImage()"><i class="material-icons">chevron_right</i></div>
  </div>
</div>

<div class="vendedores-wrapper">
  <div class="vendedores-container">
    <h2 class="vendedores-title">NOSSOS VENDEDORES</h2>
    <div class="vendedores-grid">
      <div class="vendedor" *ngFor="let vendedor of vendedores">
        <h3><strong>{{ vendedor.nome }}</strong></h3>
        <a target="_blank" href="{{ vendedor.url }}" matTooltip="Abrir Conversa no WhatsApp">
          <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
              <path fill="currentColor"
                d="M19.05 4.91A9.816 9.816 0 0 0 12.04 2c-5.46 0-9.91 4.45-9.91 9.91c0 1.75.46 3.45 1.32 4.95L2.05 22l5.25-1.38c1.45.79 3.08 1.21 4.74 1.21c5.46 0 9.91-4.45 9.91-9.91c0-2.65-1.03-5.14-2.9-7.01zm-7.01 15.24c-1.48 0-2.93-.4-4.2-1.15l-.3-.18l-3.12.82l.83-3.04l-.2-.31a8.264 8.264 0 0 1-1.26-4.38c0-4.54 3.7-8.24 8.24-8.24c2.2 0 4.27.86 5.82 2.42a8.183 8.183 0 0 1 2.41 5.83c.02 4.54-3.68 8.23-8.22 8.23zm4.52-6.16c-.25-.12-1.47-.72-1.69-.81c-.23-.08-.39-.12-.56.12c-.17.25-.64.81-.78.97c-.14.17-.29.19-.54.06c-.25-.12-1.05-.39-1.99-1.23c-.74-.66-1.23-1.47-1.38-1.72c-.14-.25-.02-.38.11-.51c.11-.11.25-.29.37-.43s.17-.25.25-.41c.08-.17.04-.31-.02-.43s-.56-1.34-.76-1.84c-.2-.48-.41-.42-.56-.43h-.48c-.17 0-.43.06-.66.31c-.22.25-.86.85-.86 2.07c0 1.22.89 2.4 1.01 2.56c.12.17 1.75 2.67 4.23 3.74c.59.26 1.05.41 1.41.52c.59.19 1.13.16 1.56.1c.48-.07 1.47-.6 1.67-1.18c.21-.58.21-1.07.14-1.18s-.22-.16-.47-.28z" />
            </svg>{{ vendedor.numero }}</p>
        </a>
        <p>{{ vendedor.email }}</p>
      </div>
    </div>
  </div>
</div>

<div class="logo"><img src="assets/images/logo.png" style="height: 200px;" />
  <h2>A ESCOHA CERTA PARA UMA OBRA PERFEITA</h2>
  <h3>A marca de tubos que está no coração do Brasil, somos referência no mercado nacional de tubos para drenagem e
    eletro dutos corrugados e flexíveis, fabricados em Polietileno de Alta Densidade.</h3>
</div>

<img class="img-home" src="assets/images/home.jpg" />

<div class="localizacao">
  <h2>Localização</h2>
  <h3>Em atividade desde 2002, a Tucano, está localizada no centro-oeste brasileiro, na região sudeste do Estado de
    Goiás, no município de Ipameri.</h3>
  <h4>Os TUBOS TUCANODUTO® e TUCANODRENO®, podem ser encontrados nas principais lojas de materiais para construção do
    Brasil ou através da nossa Central de Vendas.</h4>
  <button mat-stroked-button routerLink="/vendas" routerLinkActive="active">FECHAMOS CARGA PARA QUALQUER LUGAR DO
    BRASIL</button>
</div>

<div class="produtos-container">
  <h2>Nossos Produtos</h2>
  <h3>Utilizados por grandes construtoras e empreiteiras que confiam na qualidade da nossa marca, os Tubos Tucano estão
    presentes em importantes obras espalhadas pelo Brasil e países vizinhos.</h3>
  <div class="produtos-list">

    <div class="produto-card" routerLink="/tucanoduto" routerLinkActive="active">
      <img src="assets/images/thumb-prod1.jpg" alt="Tucano Duto">
      <h3>TUCANODUTO®</h3>
      <p>Eletrodutos Flexíveis e Corrugados produzidos em Polietileno de Alta Densidade (PEAD).</p>
      <div class="info-row">
        <div class="info">
          <span>TUCANODUTO®</span>
          <span>AN-ECCO</span>
        </div>
        <div class="info">
          <span>TUCANODUTO®</span>
          <span>HL-ECCO</span>
        </div>
      </div>
      <div class="info-row">
        <div class="info">
          <span>TUCANODUTO®</span>
          <span>AN-NBR</span>
        </div>
        <div class="info">
          <span>TUCANODUTO®</span>
          <span>HL-NBR</span>
        </div>
      </div>
      <h4>CLIQUE E SAIBA MAIS</h4>
    </div>

    <div class="produto-card" routerLink="/tucanodreno" routerLinkActive="active">
      <img src="assets/images/thumb-prod2.jpg" alt="Tucano Dreno">
      <h3>TUCANODRENO®</h3>
      <p>Tubos para Drenagem de Solo produzidos em Polietileno de Alta Densidade (PEAD).</p>
      <div class="info-row">
        <div class="info">
          <span>TUCANODRENO®</span>
          <span>AN-ECCO</span>
        </div>
        <div class="info">
          <span>TUCANODRENO®</span>
          <span>AN-NBR</span>
        </div>
      </div>
      <!-- <div class="info-row">
        <div class="info">
          <span>TUCANODUTO®</span>
          <span>AN-NBR</span>
        </div>
        <div class="info">
          <span>TUCANODUTO®</span>
          <span>HL-NBR</span>
        </div>
      </div> -->
      <h4>CLIQUE E SAIBA MAIS</h4>
    </div>

  </div>
</div>

<div class="materia-prima">
  <h2>Matéria Prima</h2>
  <h2>Polietileno de Alta Densidade (PEAD)</h2>
  <h3>O Polietileno de Alta Densidade (PEAD) é a terceira resina termoplástica mais utilizada no mundo e consiste de
    moléculas essencialmente lineares que possibilitam o desenvolvimento de altos graus de cristalinidade proporcionando
    os mais altos padrões de rigidez, impermeabilidade e resistência a corrosão.</h3>
  <h2>Controle de Qualidade</h2>
  <h4>Os TUBOS TUCANODUTO® e TUCANODRENO® são fabricados atendendo as exigências propostas pela Associação Brasileira de
    Normas Técnicas (ABNT) NBR 15.715 e certificados pelo Centro Tecnológico de Controle de Qualidade Falcão Bauer, que
    testou e aprovou nossos produtos com percentuais de qualidade acima da média proposta pelos órgãos reguladores.</h4>
  <h4>Isso comprova o diferencial dos produtos Tucano e reafirma o nosso compromisso e respeito a você que busca altos
    padrões de qualidade e durabilidade.</h4>
</div>

<div class="banner">
  <div class="banner-content">
    <div class="text">
      <h2>Central de Atendimento</h2>
      <p>Utilize nosso Chat On-Line através do WhatsApp ou Messenger e fale com um (a) de nossos (as) atendentes ou
        solicite atendimento em nossa Central de Atendimento Personalizado.</p>
    </div>
    <button class="btn" routerLink="/contato" routerLinkActive="active">FAÇA UM ORÇAMENTO</button>
  </div>
</div>