.slick-prev:before, .slick-next:before{
  color: black !important;
}

.img-style{
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  width: 250px;
}

@media (max-width: 992){
  .img-style{
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
}