<div class="slide-container">
  <div class="slide-item" *ngFor="let image of images; let i = index" [ngClass]="{ 'active': i === currentImageIndex }">
    <div *ngIf="i === 0" class="new-badge">NOVIDADE</div>
    <img [src]="image.src" [alt]="image.alt" />
    <div class="slide-content">
      <h2>{{ image.title }}</h2>
      <p>{{ image.description }}</p>
      <button (click)="onButtonClick(image.buttonAction)">{{ image.buttonText }}</button>
    </div>
  </div>
  <div class="controls">
    <div class="prev-arrow" (click)="prevImage()"><i class="material-icons">chevron_left</i></div>
    <div class="next-arrow" (click)="nextImage()"><i class="material-icons">chevron_right</i></div>
  </div>
</div>